# Exercise 4.5: Data Consistency Checks

### Content List:
#### -- Practice on Data Consistency Checks
#### -- Exercise 4.5
#### -- Descriptive Statistics using .describe() 
#### -- Check for Mixed Data Types
#### -- Check for Missing values
#### -- Check for Duplicates
#### -- df_prods Consistency Checks

### Practice on Data Consistency Checks

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# project folder path 
path = r'/Users/jsok/Instacart Basket Analysis'

# import products.csv & orders_wrangled.csv dataframes
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [3]:
# create a dataframe
df_test = pd.DataFrame()

In [4]:
# create a mixed type column
df_test['mix'] = ['a','b',1,True]

In [5]:
# check for mixed data types
# returns column names if there exists a mixed type column
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [6]:
# check for missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [7]:
# subset of this missing values

df_nan = df_prods[df_prods['product_name'].isnull() == True]
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [8]:
df_prods.shape

(49693, 5)

In [9]:
# cleaned df without missing values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]
df_prods_clean.shape

(49677, 5)

In [10]:
# find duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [11]:
# df_prods WITH duplicates
df_prods_clean.shape

(49677, 5)

In [12]:
# df_prods WITHOUT duplicates
df_prods_clean_nodups = df_prods_clean.drop_duplicates()
df_prods_clean_nodups.shape 

# 5 duplicates were eliminated! (shown above)

(49672, 5)

In [13]:
print(df_prods_clean_nodups.shape)

(49672, 5)

#### Outlier in the prices column.  Max of 9999 is very high for Instacart.  Will check for other possible outliers.

In [14]:
# check for outliers
df_prods_outliers = df_prods[df_prods['prices'] > 100]
df_prods_outliers

,product_id,product_name,aisle_id,department_id,prices
21554,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0
33666,33664,2 % Reduced Fat Milk,84,16,99999.0

In [15]:
# milk should not be priced this high
# changing the prie values to be 1.49 and 0.99

df_prods_clean_nodups = df_prods_clean_nodups.replace ({'prices':{99999.0: 0.99, 14900.0:1.49 }})

In [16]:
# check if prices have been successfully changed.
#df_prods_clean_nodups[df_prods_clean_nodups['product_id'] == 33664]

In [17]:
# check if prices have been successfully changed.
#df_prods_clean_nodups[df_prods_clean_nodups['product_id'] == 21553]

In [18]:
df_prods_clean_nodups.shape

(49672, 5)

# Exercise 4.5

## Run .describe() on dataframe

In [19]:
# continuing on...
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

##### After evaluating the descriptive statistiscs of "df_ords", nothing outrageous is apparent in this dataframe, besides the "Unnamed:0" column, which is almost identical to "order_id" (besides the minimum).  "days_since_prior_order" is missing several values, but that is okay since customers may have not returned to shop at Instacart.

## Check for mixed data types

In [20]:
# check for mixed data types
# returns column names if there exists a mixed type column

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

##### No columns returned, meaning, there are no columns with mixed data types

## Check for missing values

In [21]:
# check for missing values
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

#### "days_since_prior_order" is missing several values because customers may have not reutrned to shop at Instacart.  Missing values are justifiiable in this case.

## Check for duplicates

In [22]:
# find duplicates
df_duplicates = df_ords[df_ords.duplicated()]
df_duplicates

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, order_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

#### No duplicates were found.

In [23]:
# Export df_ords & df_prods_clean_nodups dataframes:

df_ords.to_csv(os.path.join(path,'02 Data','Prepared Data','orders_cchecks.csv'))
df_prods_clean_nodups.to_csv(os.path.join(path,'02 Data','Prepared Data','products_cchecks.csv'))

## Consistency checks for df_prods

In [24]:
# descriptive stats for products dataframe
df_prods_clean_nodups.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      7.680178
std    14340.705287     38.315784       5.850779      4.199496
min        1.000000      1.000000       1.000000      0.990000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000     25.000000

In [25]:
df_prods_clean_nodups.shape

(49672, 5)