# Exercise 4.6a

### Content List:
#### -- Practice Combining & Exporting Data
#### -- Importing libraries & datasets
#### -- Merge df_ords & df_ords_prior
#### -- Exercise 4.6a

## Practice Combining & Exporting Data

## Importing libraries & datasets

In [1]:
# import 
import pandas as pd
import numpy as np
import os

In [2]:
# project folder path 
path = r'/Users/jsok/Instacart Basket Analysis'

In [3]:
# import products.csv & orders_wrangled.csv dataframes
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data','orders_products_prior.csv'), index_col = False)

In [4]:
df_ords = df_ords.drop(columns = ['Unnamed: 0', 'eval_set'])
df_ords.shape

(3421083, 6)

In [5]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
# checking the dimensions
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

## Merge df_ords and df_ords_prior

In [8]:
# merging df_ords & df_ords_prior 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id')

In [9]:
# check output
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

# Exercise 4.6a

In [10]:
# Export .pkl file 
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [11]:
# Dimensions of merged df
df_merged_large.shape

(32434489, 9)