# Exercise 4.6b

### Content List:
#### -- Importing libraries & datasets
#### -- Check Dimensions of import & export dataframes
#### -- Merge df_OP_combined & df_prods
#### -- Export .pkl file

## Importing libraries & datasets

In [1]:
# Import
import pandas as pd
import numpy as np
import os

In [2]:
# Set 'path' string
path = r'/Users/jsok/Instacart Basket Analysis'

In [3]:
# Import .pkl file - orders_products_combined.pkl
df_OP_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
# view the imported dimensions
df_OP_combined.shape

(32434489, 9)

## Check Dimensions of import & export dataframes

In [5]:
# preview orders_products_combined df
df_OP_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [6]:
# Import wrangled, CChecked products.csv 
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cchecks.csv'))
#df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [7]:
df_prods.duplicated().any()

False

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prods.shape

(49672, 6)

In [10]:
df_OP_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_day_of_week       int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
dtypes: float64(1), int64(8)
memory usage: 2.4 GB

In [11]:
# preview products df
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int64
 1   product_id     49672 non-null  int64
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  int64
 4   department_id  49672 non-null  int64
 5   prices         49672 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

#### "product_id" is the key identifier between dataframes

## Merge df_OP_combined & df_prods

In [12]:
# merge the two dataframes
# INNER join
df_merged = df_OP_combined.merge(df_prods, on = 'product_id', indicator = True)

In [13]:
# confirm the results of the merge using merge flag
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
df_merged = df_merged.drop(columns = ['Unnamed: 0'])

## Export .pkl file

In [15]:
# export as .pkl file
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))

In [16]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_day_of_week       int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   product_name            object
 10  aisle_id                int64
 11  department_id           int64
 12  prices                  float64
 13  _merge                  category
dtypes: category(1), float64(2), int64(10), object(1)
memory usage: 3.4+ GB