# Exercise 4.7

### Content List:
#### -- Practice Deriving New Variables
#### -- Apply loc() function as if-statement
#### -- Create 'Busiest_day' column
#### -- Exercise 4.7
#### -- Create 'Busiest_days' column
#### -- Create 'Busiest_period_of_day' column
#### -- Export

## Practice Deriving New Variables

In [1]:
# Importing
import pandas as pd
import numpy as np
import os

In [2]:
# exclude warnings for more legible script
import warnings
warnings.filterwarnings('ignore')

In [3]:
# define path
path = r'/Users/jsok/Instacart Basket Analysis'

In [4]:
# read pickle file into ords_prods_merged
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [5]:
# create subset of first 1 million rows
df_subset = ords_prods_merged[:1000000]

In [6]:
df_subset.shape

(1000000, 14)

In [7]:
# defining price label function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High-range product'
  else: return 'Not enough data'

In [8]:
# apply to dataframe...
df_subset['price_range'] = df_subset.apply(price_label, axis=1)

In [9]:
# value counts
df_subset['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [10]:
# check for the highest priced product
df_subset['prices'].max()

14.8

In [11]:
# Use loc() for if-statement logic
df_subset.loc[df_subset['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [12]:
# Use loc() for if-statement logic
df_subset.loc[(df_subset['prices'] <= 15) & (df_subset['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [13]:
# Use loc() for if-statement logic
df_subset.loc[df_subset['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [14]:
# value counts
df_subset['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

## Apply loc() as if-statement

In [15]:
# evaluating high-range product
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [16]:
# evaluating mid-range product
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [17]:
# evaluating low range product
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [18]:
# value counts
ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10131448
High-range product      412551
Name: price_range_loc, dtype: int64

In [19]:
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product

## Create Busiest_day column

In [20]:
# finding the busiest day of the week for Instacart
ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [21]:
# for loop to label busiest/slowest dow
# empty list
result = []

for value in ords_prods_merged["order_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [22]:
# assign result list as new column
ords_prods_merged['Busiest_day'] = result

In [23]:
# count values from 'Busiest_day'
ords_prods_merged['Busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: Busiest_day, dtype: int64

# Exercise 4.7

In [24]:
# checking if new columns were added 
ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy

## Create Busiest_days column

In [25]:
# for loop to label busiest/slowest days
# now, 2 days are busiest, 3 days are regularly busy, and 2 days are slowest
# empty list
result_2 = []

for x in ords_prods_merged["order_day_of_week"]:
  if ((x == 0) or (x == 1)):
    result_2.append("Busiest days")
  elif ((x == 4) or (x == 3)):
    result_2.append("Slowest days")
  else:
    result_2.append("Regularly busy")

In [26]:
# assign result_2 list as new column
ords_prods_merged['Busiest_days'] = result_2

In [27]:
# count values from 'Busiest_days'
ords_prods_merged['Busiest_days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: Busiest_days, dtype: int64

#### After adjusting from day to days (plural), aproximately 10 million counts were allocated to "Busiest days" and "Slowest days" with "Busiest days" closely trailling "Regularly busy" days.  This is a big difference, consideirng "Regularly busy" days have one extra day to count.

## Create Busiest_period_of_day column

In [28]:
# finding the busiest hour of the day
ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

##### All hours are between 0-23, so no typos or irregular data.

In [29]:
# Categorize by: "most orders" "average orders", "fewest orders"
# for loop to categorize orders by time periods
# empty list
result_3 = []

for x in ords_prods_merged["order_hour_of_day"]:
  if ((x == 10) or (x == 11) or (x == 14) or (x == 15) or (x == 13) or (x == 12) or (x == 16) or (x == 9)):
    result_3.append("Most orders")
  elif ((x == 17) or (x == 8) or (x == 18) or (x == 19) or (x == 20) or (x == 7) or (x == 21) or (x == 22)):
    result_3.append("Average orders")
  else:
    result_3.append("Fewest orders")

In [30]:
# assign result_3 list as new column
ords_prods_merged['Busiest_period_of_day'] = result_3

In [31]:
# count values from "Busiest_period_of_day"
ords_prods_merged['Busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: Busiest_period_of_day, dtype: int64

## Export

In [32]:
# Export
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))